
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
.menu{
    background-image: url(imgbac.jpg);
    height: 750px;
    width: 1500px;   
}

nav ul li{
    display: inline;
    margin: 20px;  
}

nav{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
    font-size: large;
    padding: 15px;
    width: 1500px;
    position: fixed;
    overflow: hidden;
}


nav a{
  text-decoration: none;

}
button{
    height: 50px;
    width: 150px;
    background-color: blue;
    margin: 5px;
}

.men{
    display: flex;
      
}
.head{

  margin-top: 150px;
  margin-left: 100px;
  
}

.head h3{
color:#192bc2; 
font-size: 20px;
}

.head h1{
color:#000080;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
font-size: 75px; 
margin-top: -12px;
}

.head p{
  color:#192bc2 ;
  margin-top: -45px; 
  font-size: 28px;
}

.head a{
display: inline; 
margin: 20px; 
color: #192bc2; 
font-size: 20px;
}
.head .pera{
  color:#192bc2; 
  font-size: 20px; 
  margin-top: 100px;
}




.blue{
    margin-top: -4px;
    background-color: blue;
    height: 300px;
    width: 1500px;
}

.tex{
    display: flex;
    margin-top: -50px;    
}

.underline{
    display: flex;
    justify-content: center;
    padding: 50px;

}

.underline hr{
    width: 140px;
    border: 1px solid white;
    margin-top: 30px;
}
h4{
    margin: 20px;
    
}

.fonts{
display: flex;
margin-top: 70px;
margin-left: -20px;
}

.pera{
    display: flex;
}

.pera i{
  font-size: 45px;
  margin: 10px; 
  color: red;

}


.pera1{
    display: flex;
     
}

.pera1 i{
font-size: 45px;
margin: 10px; 
color: red;

}
.pera2{
    display: flex;
    margin-top: 18px;
    
}

.pera2 i{
  font-size: 45px; 
  margin-left: 10px; 
  margin: 10px;
  color: red;


}


.desi h4{

color: gray;

}



 
h1{
    margin-top: 7px;
    margin-left: 15px;
}
.decition{
    margin-left: 270px;
    
}


.vl1{
    
    border-right: 2px solid gray;
    height: 130px;
    padding: 20px;

  }
  .vl{
    
    border-right: 2px solid gray;
    height: 130px;
    padding: 20px;

  }
  .hr1{
    height: 0.1px;
    width: 50px;
    border: 1px solid red;
    background-color: orange;
  }
  .hr2{
    height: 0.1px;
    width: 100px;
    border: 1px solid red;
    background-color: orange;
  }
  .ht{
    padding: 8px;
    font-size: 20px;
    margin: 10px;
  }
  .ht1{
    padding: 8px;
    font-size: 20px;
    margin: 10px;
  }
  .ht2{
    padding: 8px;
    font-size: 20px;
    margin: 10px;
  }
  .line{
    height: 0.1px;
    width: 25px;
    border: 1px solid red;
    background-color: red;
    margin-left: 300px;

  }
  .line1{
    height: 0.1px;
    width: 50px;
    border: 1px solid red;
    background-color: red;
  }

.htm{
height: 50px;
width: 110px;
background-color: white;
margin: 20px;
margin-left: 90px;

}
.php{
    height: 50px;
    width: 90px;
    background-color: white;
    margin: 20px;
    
    
    }
    .fire{
        height: 50px;
        width: 130px;
        background-color: white;
        margin: 20px;
        
        
        }
        .csss{
            height: 50px;
            width: 110px;
            background-color: white;
            margin: 20px;
            margin-left: 90px;
            
            }
            .js{
                height: 50px;
                width: 80px;
                background-color: white;
                margin: 20px;
                margin-left: 10px;
                
                
                }
                .java{
                    height: 50px;
                    width: 100px;
                    background-color: white;
                    margin: 20px;
                    
                    
                    }
                    .Kotlin{
                        height: 50px;
                        width: 110px;
                        background-color: white;
                        margin: 20px;
                        margin-left: 90px;
                        
                        }
                        .Laravel{
                            height: 50px;
                            width: 110px;
                            background-color: white;
                            margin: 20px;
                            margin-left: 10px;
                            
                            
                            }
                            .api{
                                height: 50px;
                                width: 80px;
                                background-color: white;
                                margin: 20px;
                                
                                
                                }
                               
.line4{
        height: 0.1px;
        width: 25px;
        border: 1px solid red;
        background-color: red;
        margin-left: 110px;
        
    
      }
    .line5{
        height: 0.1px;
        width: 25px;
        border: 1px solid red;
        background-color: red;
        
    
      }
      .line6{
        height: 0.1px;
        width: 20px;
        border: 1px solid navy;
        background-color: navy;
        margin-top: 100px;
        margin-left: 15px;
        
        
    
      }
      .line7{
        height: 0.1px;
        width: 50px;
        border: 1px solid red;
        background-color: red;
        margin-top: 100px;
        margin-left: 15px;
        
    
      }
      .line8{
        height: 0.1px;
        width: 50px;
        border: 1px solid red;
        background-color: red;
        margin-top: 100px;
        margin-left: 15px;
        
    
      }
      .navy{
        background-image: url(OIP.jpg);
        height: 80px;
        width: 1000px;
        margin-left: 250px;
      }


      .line9{
        height: 0.1px;
        width: 20px;
        border: 1px solid red;
        background-color: red;
        margin-top: 100px;
      }

      .line10{
        height: 0.1px;
        width: 40px;
        border: 1px solid red;
        background-color: red;
        margin-top: 100px;
        margin-left: 10px;
      }

      .line11{
        height: 0.1px;
        width: 20px;
        border: 1px solid red;
        background-color: red;
        margin-top: 100px;
      }

      .line12{
        height: 0.1px;
        width: 40px;
        border: 1px solid red;
        background-color: red;
        margin-top: 100px;
        margin-left: 10px;
      }
      input{
margin-left: 40px;
 height: 50px;
 width: 380px;    
 padding: 10px;
 border: 3px solid black;
 
      }
.email input{
margin-top: 20px;
margin-bottom: 20px;
}      
.msg input{
  height: 120px;

}
.btn{
  margin-top: 10px;
  width: 405px;
  margin-left: 39px;
  background-color: aqua;
 font-size: 15px;
  color: black;
}

.threebal{
  
  width:100px;
  border: 1px solid blue; 
  overflow: hidden;

}
.threebal.img{
  width:100px;
  border: 2px solid blue;

}
.box{
background-color: aqua; 
width: 650px ;
height: 80px; 
position: absolute; 
display: flex; 
margin-top: 5px; 
margin-left: 60px; 
z-index: -1;
}


.threebal img:hover{
  position: relative;
  z-index: -1;
 scale: 1.1;
 transition: transform 2s ease-out;  
}

.pencil{
  position: relative;
  z-index: 1;
}

.pencil img:hover{
  position: relative;
  z-index: -1;
  
}
.teddy{
  position: relative;
  z-index: -1;
  
}
.teddy img:hover{
  position: relative;
  z-index: -1;
  
}
.code{
  position: relative;
  z-index: 1;
  
}
.code {
  position: relative;
  z-index: 1;
  
}
.code img:hover{
  position: relative;
  z-index: -1;
  
}
.twoball{
  position: relative;
  z-index: 1;
  
}
.twoball img:hover{
  position: relative;
  z-index: -1;
  
}


hr{
  width: 320px;
  border: 1px solid gainsboro;
  margin-top: -5px;
}
.red{
  height:220px;
   width:350px;
   border-radius: 40%;
   overflow: hidden;
   border: 1px solid blue;
}

.red img:hover{
  transform: scale(1.1);
}

.mug{
  height:220px; 
  width:350px; 
  border-radius: 40%; 
  border: 1px solid blue;
  overflow: hidden;
}
.mug img:hover{
  transform: scale(1.1);
}
.copy{
  height:220px;
  width:350px; 
  border-radius: 40%; 
  border: 1px solid blue;
  overflow: hidden;
}

.copy img:hover{
  transform: scale(1.1);
}




.black2{
  width:710px;
  height: 390px;
  border: 2px solid blue;
  overflow: hidden;
  position: absolute;
  margin-left: 5px;
  
  

}

.black2 img{
  width: 710px;
  height: 390px;
  
}

.boxing{
background-color: dodgerblue;
width: 650px;
height: 80px;
position: absolute;
top:280px;
left: 70px;
z-index: -1;
display: flex;
border: 1px solid blue;

}
.boxing i{
  margin-left: 350px;
  margin-top: 20px;
  color: white;
  font-size: 28px;
}
.black2 img:hover{
  position: relative;
  scale: 1.1;
  transition: transform 2s ease-out;
  z-index: -1;
}


.black3{
  width:710x;
  height: 390px;
  border: 2px solid blue;
  overflow: hidden;
  position: absolute;
  margin-left: 740px;
  

}

.black3 img{
  width: 710px;
  height: 390px;
  
  
 
}

.boxing1{
background-color: dodgerblue;
width: 650px;
height: 80px;
position: absolute;
top:280px;
left: 70px;
z-index: -1;
display: flex;
border: 1px solid blue;

}
.boxing1 i{
  margin-left: 350px;
  margin-top: 20px;
  color: white;
  font-size: 28px;
}
.black3 img:hover{
  position: relative;
  scale: 1.1;
  transition: transform 2s ease-out;
  z-index: -1;
}

.black4{
  width:480px;
  height: 480px;
  border: 2px solid blue;
  overflow: hidden;
  position: absolute;
  margin-top: 300px;
  margin-left: 5px;
  

}

.black4 img{
  width: 480px;
  height: 480px;
}

.boxing2{
background-color: dodgerblue;
width: 650px;
height: 80px;
position: absolute;
top:360px;
left: 70px;
z-index: -1;
display: flex;
border: 1px solid blue;

}
.boxing2 i{
  margin-left: 140px;
  margin-top: 20px;
  color: white;
  font-size: 28px;
}
.black4 img:hover{
  position: relative;
  scale: 1.1;
  transition: transform 2s ease-out;
  z-index: -1;
}



.black5{
  width:465px;
  height: 480px;
  border: 2px solid blue;
  overflow: hidden;
  position: absolute;
  margin-top: 300px;
  margin-left: 505px;
  

}

.black5 img{
  width: 465px;
  height: 480px;
}

.boxing3{
background-color: dodgerblue;
width: 650px;
height: 80px;
position: absolute;
top:360px;
left: 70px;
z-index: -1;
display: flex;
border: 1px solid blue;

}
.boxing3 i{
  margin-left: 50px;
  margin-top: 20px;
  color: white;
  font-size: 28px;
}
.black5 img:hover{
  position: relative;
  scale: 1.1;
  transition: transform 2s ease-out;
  z-index: -1;
}


.black6{
  width:460px;
  height: 480px;
  border: 3px solid blue;
  overflow: hidden;
  position: absolute;
  margin-top: 300px;
  margin-left: 990px;
  
  

}

.black6 img{
  width: 460px;
  height: 480px;
}

.boxing4 {
background-color: dodgerblue;
width: 650px;
height: 80px;
position: absolute;
top:360px;
left: 70px;
z-index: -1;
display: flex;
border: 1px solid blue;


}
.boxing4 i{
  margin-left: 100px;
  margin-top: 20px;
  color: white;
  font-size: 28px;
}
.black6 img:hover{
  position: relative;
  scale: 1.1;
  transition: transform 2s ease-out;
  z-index: -1;
}